/**
* @author Elias De Hondt
* @see https://eliasdh.com
* @since 05/01/2024
*/

/* Root */
:root {
    --primary-color: #222222;
    --secondary-color: #C3C3C3;
    --tertiary-color: #70E654;
    --quaternary-color: #ffffff;
}
/* Root */

/* Selectioncoler */
.selectioncoler *::selection{
    background: var(--secondary-color);
    color: var(--primary-color);
}
/* Selectioncoler */

/* Scrollbars */
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background:  var(--tertiary-color);
}
/* Scrollbars */

/* Logo */
.logo img {
    position: absolute;
    padding: 10px;
    top: 0px;
    right: 0px;
    width: 6%;
}
/* Logo */

/* Footer */
#footer {
    left: 50%;
    transform: translateX(-50%);
}
/* Footer */

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.content, .content-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Photo Gallery */
.photo-gallery {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-gallery img {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.photo-gallery img:hover {
    transform: scale(1.1);
}
/* Photo Gallery */

/* Left-side */
.left-side {
    flex: 1;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.photo img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: 8px solid var(--secondary-color);
    margin-bottom: 200px;
}

.photo img:nth-child(odd) {
    transform: translate(100%, -20%);
}

.photo img:nth-child(even) {
    transform: translate(100%, -20%);
}
/* Left-side */

/* Right-side */
.right-side {
    flex: 1;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 200px;
}

.right-side h1 {
    color: var(--tertiary-color);
}

.box-day {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
}

.inactive-day {
    background-color: var(--quaternary-color);
}

.highlight {
    background-color: var(--tertiary-color);
    font-weight: bold;
}

.box {
    background-color: var(--quaternary-color);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
    max-width: 400px;
}

.box a {
    text-decoration: none;
    color: var(--primary-color);
}
/* Right-side */

/* Mobile */
@media only screen and (max-width: 1700px) {
    .photo img:nth-child(odd) {
        transform: translate(70%, -20%);
    }
    
    .photo img:nth-child(even) {
        transform: translate(70%, -20%);
    }

    .photo img {
        margin-bottom: 200px;
    }
}

@media only screen and (max-width: 1600px) {
    .photo img {
        margin-bottom: 250px;
    }

    .logo img {
        width: 8%;
    }
}

@media only screen and (max-width: 1300px) {
    .photo img:nth-child(odd) {
        transform: translate(40%, -20%);
    }
    
    .photo img:nth-child(even) {
        transform: translate(40%, -20%);
    }

    .photo img {
        margin-bottom: 300px;
    }
}

@media only screen and (max-width: 1000px) {
    .left-side {
        display: none
    }

    .right-side {
        padding-left: 20px;
        padding-right: 20px;
    }

    .content-info {
        flex-direction: column;
    }

    .box {
        width: 100%;
        margin: 10px 0;
    }

    .logo img {
        width: 12%;
    }
}

@media only screen and (max-width: 450px) {
    .content-info {
       width: 80%;
   }

   .logo img {
        width: 15%;
    }
}
/* Mobile */

/* Animations & transitions */

.photo img { 
    transition: transform 0.3s ease;
    transform: scale(1);
}

.photo img:hover { /* Hover effect */
    transform: scale(1.1);
}

body { /* Gradient background */
    background: linear-gradient(to right, var(--primary-color), var(--tertiary-color));
}

.box, .box-day, .photo img { /* Shadow effects */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box:hover, .box-day:hover, .photo:hover img { /* Shadow effects */
    background-color: var(--tertiary-color);
}

.box { /* Rotate effect */
    transition: transform 0.5s ease;
}

.box:hover { /* Rotate effect */
    transform: rotate(5deg) scale(1.1);
}
/* Animations & transitions */