/**
* @author Elias De Hondt
* @see https://eliasdh.com
* @since 05/01/2024
*/

/* Root */
:root {
    --primary-color: #222222;
    --secondary-color: #C3C3C3;
    --tertiary-color: #70E654;
}
/* Root */

/* Selectioncoler */
.selectioncoler *::selection{
    background: var(--secondary-color);
    color: var(--primary-color);
}
/* Selectioncoler */

/* Scrollbars */
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background:  var(--tertiary-color);
}
/* Scrollbars */

/* Logo */
.logo img {
    position: absolute;
    padding: 10px;
    top: 0px;
    right: 0px;
    width: 5%;
}
/* Logo */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.left-side {
    flex: 1;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side {
    flex: 1;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.right-side h1 {
    color: var(--tertiary-color);
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-day {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    flex: 1;
}

.inactive-day {
    background-color: #ffffff;
}

.highlight {
    background-color: var(--tertiary-color);
    font-weight: bold;
}

.box {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    flex: 1;
    max-width: 400px;
}

.contact-item a {
    text-decoration: none;
    color: var(--primary-color);
}

