/**
* @author Elias De Hondt
* @see https://eliasdh.com
* @since 05/01/2024
*/

body {
    background-color: #222222;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.logo img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    font-size: 32px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.column {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    width: 150px;
}